@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
body{
    background-color: rgba(122, 122, 122, 0.151);
}
header{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
    background-color: #fff;
}
.topo{
    height: 59px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logo img{
    height: 40px;
}
.img{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#search{
    border: none;
    padding-left: 46px;
    height: 40px;
    width: 40px;
    background: url(../icones/search.png) no-repeat 10px/24px #fff;
    cursor: pointer;
    transition-property: width, border-radius, box-shadow;
    transition-duration: 300ms;
}
#search:focus{
    width: 240px;
    border-radius: 4px;
    box-shadow: 0 0 0 2px red;
    outline: none;
    cursor: auto;
}
.menu span{
    font-size: 18px;
    padding-left: 10px;
}
.menu{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    width: 100vw;
}
.menu a{
    color: #fff;
    padding: 9px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .5s;
}
.menu a:hover{
    background-color: red;
}
.flight{
    background-color: red;
}
.from-to{
    padding: 20px;
    background-color: #fff;
}
form, .form{
    display: flex;
    flex-direction: column;
}

.from-to h2{
    margin-bottom: 20px;
}
h2{
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.733);
}
p{
    text-align: justify;
}
input{
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    outline: none;
    margin-bottom: 10px;
}
input:focus{
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.295);
}
.button{
    width: 190px;
    background-color: rgba(0, 0, 0, 0.589);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.button:hover{
    background-color: black;
}
section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titles{
    width: 95%;
    margin: auto;
    padding: 10px;
}
.titles h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.places{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.place{
    width: 90%;
    height: 200px;
    color: white;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
}
.place:hover{
    width: 92%;
    height: 220px;
    border-radius: 10px;
}
.place p{
    padding: 10px;
}
#cinque-terre{
    background-image: url(../imagens/cinqueterre.jpg);
}
#new-york{
    background-image: url(../imagens/newyork.jpg);
}
#san-francisco{
    background-image: url(../imagens/sanfran.jpg);
}
#pisa{
    background-image: url(../imagens/pisa.jpg);
}
#paris{
    background-image: url(../imagens/paris.jpg);
}
.natures{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
}
.natures:hover{
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 15px;
    transition: .5s;
}

.nature{
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#ocean{
    background-image: url(../imagens/ocean.jpg);
}
#mountain{
    background-image: url(../imagens/mountains.jpg);
}
.title-nature{
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 30px;
}
.value{
    color: rgba(0, 0, 0, 0.527);
}
.value:hover{
    text-decoration: underline;
}
.title-nature footer{
    margin-left: 20px;
}
.email{
    width: 90%;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.589);
    color: #fff;
    margin: auto;
    padding: 20px;
}
.email h2{
    color: #fff;
    margin-bottom: 20px;
}
.email p{
    margin-bottom: 20px;
}
.subscribe{
    width: 100px;
    color: #fff;
    background-color: rgb(253, 117, 117);
    transition: .5s;
    cursor: pointer;
}
.subscribe:hover{
    background-color: red;
}
.contact{
    width: 90%;
    margin: auto;
}
.contacts{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contact a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-items: center;
    gap: 15px;
}
.contact a:hover{
    text-decoration: underline;
}
.contact a span{
    font-size: 15px;
}
#send-message{
    width: 180px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}
#send-message:hover{
    background-color: rgb(51, 51, 51);
    
}
footer{
    text-align: center;
    margin: 30px 0px;
}
footer p{
    text-align: center;
}
.redes{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.redes img{
    width: 30px;
    padding: 5px;
    border-radius: 5px;
}
.redes img:hover{
   background-color: rgba(0, 0, 0, 0.205);
}